.main-article {
    display: grid;
    grid-template-columns: 1fr;
    width: 98vw;
}
#Images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
}
.Headline {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    width: 95vw;
    justify-items: center;
}
#Main_Footer {
    display: grid;
    grid-template-rows: 4fr;
    row-gap: 7px;
}
.Footer {
    color: gold;
}
a:link {
    color: blue;
}
a:active {
    background-color: red;
}
a:hover {
    background-color: gold;
}
a:visited {
    color: purple;
}
body p {
    background-color: gold;
}
body {
    background-color: black;
}
header > h1 {
    color: gold;
}
header h2 {
    color: gold;
}
a {
    display: inline;
}